async-timeout==4.0.2
blinker==1.6.2
click==8.1.5
colorama==0.4.6
Flask==2.3.2
-e git+https://github.com/iLLumi-420/first_flask.git@e84ab1f59f2694f4bdfa9c7aae7ca35337e8023d#egg=flask_apps
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
redis==4.6.0
rq==1.15.1
Werkzeug==2.3.6
