<!DOCTYPE html>
<html>
  <head>
    <script>
      const eventSource = new EventSource("/process");
      eventSource.onmessage = function (event) {
        const resultContainer = document.getElementById("result-container");
        resultContainer.innerHTML += event.data + "<br>";
      };
    </script>
  </head>
  <body>
    <nav style="display: flex;">
      <ul>
        <a href="/logout">Logout</a>
        <a href="/count">Count_Page</a>
        <a href="/process">Process_Page</a>
      </ul>
    </nav>
    <hr>
    <h2>Home Page</h2>

    <form action="/" method="post">
      Enter url: <input type="text" name="url" id="url">
      <input type="submit" value="Submit url">
    </form>

    <div class="urls">
      {% for url in user_urls %}
        <li>{{loop.index}}:{{url.decode('utf-8')}}</li>
      {% endfor %}
    </div>
    
  </body>
</html>
