<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <nav style="display: flex;">
      <ul>
        <a href="/logout">Logout</a>
        <a href="/count">Count_Page</a>
      </ul>
    </nav>
    <hr>
    <h2>Home Page</h2>

    <form action="/" method="post">
      Enter url: <input type="text" name="url" id="url">
      <input type="submit" value="Submit url">
    </form>


    
    <div class="table-container">
      <table>
        <tr>
          <th>S.N.</th>
          <th>URL</th>
          <th>Result</th>
        </tr>
        {% for url, job_id in data %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{url.decode('utf-8')}}</td>
            <td><a href="/result/{{job_id}}">See result</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
      
	   
    
  </body>
</html>


